@charset "utf-8";
*{
	margin:0;
	padding:0;
}
body{
	background: black;
	// position: relative;
	// opacity: 0.5;
}
.box{
	width:886px;
	height:490px;
	background:#fff;
	position:fixed;
	left:50%;
	top:50%;
	
	transform:translate(-50%,-50%);
	.p1{
		width:100%;
		height:33px;
		background:#d51b51;
		line-height: 33px;
		text-align: center;
		margin-bottom: 50px;
	}
 .content{
	 width:746px;
	 height:380px;
	 margin:0 auto;
	 .bottom{
		 width:100%;
		 overflow:hidden;
		 .reg{
		 	width:343px;
		 	height: 40px;
		 	margin-bottom: 30px;
		     float:left;
		 	i{   
				display:block;
				float: left;
				width: 78px;
				height: 40px;
				text-align: center;
				vertical-align: middle;
				margin-right:5px;
				font-size: 14px;
				font-style: normal;
				line-height: 40px;
				
		 			
		 		}
		 		input{
		 				width:236px;
		 				height: 28px;
		 				
		 				// padding-left: 87px;
		 				padding: 5px 9px;
		 				border:1px solid #B3B3B3;
		 			}
		 			.infor{
		 				width:149px;
		 			}
		 			.yzm{
		 					display: inline-block;
		 					width:60px;
		 					height:40px;
		 					float: left;
		 					
		 					height:44px;
		 					font-size: 30px;
		 					font-weight: bold;
							
		 				}
		 			.huan{
		 			           width:56px;
							   // height:px;
							  
		 						// padding-top:5px ;
								font-size: 14px;
		 						display: inline-block;
		 						color:black;
								padding-left:5px;
								a{
									text-decoration: underline;
								}
		 				}
					
		 				.shuyzm{
							float: left;
		 						width:88px;
		 						height:28px;
		 						}
		 				.infor{
		 					width:149px;
		 					height:28px;
		 				}
		 				.send{
		 					width:28px;
		 					height:40px;
		 					padding:0 20px;
		 					background: black;
		 					color: white;
		 					font-size: 14px;
		 					margin-left:9px;
		 					border:none;
		 					margin-left:2px;
							position:absolute;
							right:20px;
							top:0;
		 						&:hover{
		 							background: #D51B51;
		 						}
		 				}
						.send1{
							padding:0;
							width:78px;
							position:absolute;
							right:20px;
                            top:0;
						}
		 				#regBtn{
		 					width:266px;
		 					height:42px;
		 					background: black;
		 					color: white;
		 					font-size: 14px;
		 						&:hover{
		 							background: #D51B51;
		 						}
		 					
		 				}
		 						
		 }
		 .reg1{
		 	padding-right: 30px;
			// float:left;
				
		 }
		 .reg2{
			position:relative;
		 	padding-left: 30px;
		 }
		 .reg3{
		 	margin-top:20px;
		 clear: both;
		 	 
		 }
		 
		 .baocun{
		 		  display:inline-block;
		 		  width:100%;
		 		  height:38px;
		 		 position:relative;
		 		  margin-bottom:0;
		 		 #eem{
		 			 position:absolute;
		 			 left:0;
		 			 top:0;
		 			 margin-top:2px;
		 				 width:15px;
		 				 height:15px;
		 				 border:1px solid #999999;
		 			     cursor: pointer;
		 			     display: inline-block;
		 		 }
			 #eem2{
				 position:absolute;
				 left:0;
				 top:0;
				 margin-top:2px;
					 width:15px;
					 height:15px;
					 border:1px solid #999999;
					 cursor: pointer;
					 display: inline-block;
				 }
		 		  b{    
		 			    display: block;
		 				font-weight: normal;
		 			     font-size: 14px;
		 			      line-height: 19px;
		 			      background: white;
		 				  margin-left:17px;
		 			      color: #8c8c8c;
		 				  font-style: normal;
		 		  }
		 }
		 
	 }
	
	  
    }
}
.regg{
	
		 font-size: 16px;
		 line-height: 24px;
		 color: #d51b51;
		 border-bottom: 1px solid #d51b51;
		background:#fff;
		 text-align: left;
		 width:100px;
		 margin-bottom: 0 ;
		  }

#tog2{
	display: none;
}